<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.microteachingquality.mapper.ClazzLeaderInfoMapper">
    <resultMap id="BaseResultMap" type="com.vtmer.microteachingquality.model.pojo.clazzevaluation.ClazzLeaderInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="leader_id" jdbcType="INTEGER" property="leaderId"/>
        <result column="member_id" jdbcType="INTEGER" property="memberId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , leader_id, member_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz_leader_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByLeaderId" resultType="com.vtmer.microteachingquality.model.pojo.clazzevaluation.ClazzLeaderInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz_leader_info where leader_id = #{leaderId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from clazz_leader_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.vtmer.microteachingquality.model.pojo.clazzevaluation.ClazzLeaderInfo"
            useGeneratedKeys="true">
        insert into clazz_leader_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="leaderId != null">
                leader_id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="leaderId != null">
                #{leaderId,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.vtmer.microteachingquality.model.pojo.clazzevaluation.ClazzLeaderInfo">
        update clazz_leader_info
        <set>
            <if test="leaderId != null">
                leader_id = #{leaderId,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.vtmer.microteachingquality.model.pojo.clazzevaluation.ClazzLeaderInfo">
        update clazz_leader_info
        set leader_id = #{leaderId,jdbcType=INTEGER},
            member_id = #{memberId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>