<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.microteachingquality.mapper.ClazzExpertManageInfoMapper">
    <resultMap id="BaseResultMap"
               type="com.vtmer.microteachingquality.model.pojo.clazzevaluation.ClazzExpertManageInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="clazz_id" jdbcType="INTEGER" property="clazzId"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , user_id, status,clazz_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz_expert_manage_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUserId"
            resultType="com.vtmer.microteachingquality.model.pojo.clazzevaluation.ClazzExpertManageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz_expert_manage_info where user_id = #{userId}
    </select>
    <select id="countClazzToReview" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(id)
        FROM clazz_expert_manage_info
        WHERE status = #{status}
          AND user_id = #{userId}
    </select>
    <!--    <select id="selectByUserIdAndStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
            SELECT clazz_expert_manage_info.*
            FROM clazz,
                 clazz_expert_manage_info
            WHERE clazz.`status` = #{status}
              AND clazz.id = clazz_expert_manage_info.clazz_id
              AND clazz_expert_manage_info.user_id = #{userId}
            LIMIT #{startIndex},#{length}
        </select>-->
    <select id="selectByUserIdAndStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz_expert_manage_info where status = #{status} and user_id = #{userId}
        LIMIT #{startIndex},#{length}
    </select>
    <select id="selectCountsByUserIdAndStatus" resultType="java.lang.Integer">
        select count(id)
        from clazz_expert_manage_info
        where status = #{status}
          and user_id = #{userId}
    </select>
    <select id="selectByUserIdAndClazzId"
            resultType="com.vtmer.microteachingquality.model.pojo.clazzevaluation.ClazzExpertManageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz_expert_manage_info where user_id = #{userId} and clazz_id = #{clazzId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from clazz_expert_manage_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByClazzIdAndUserId">
        delete
        from clazz_expert_manage_info
        where user_id = #{userId}
          and clazz_id = #{clazzId}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.vtmer.microteachingquality.model.pojo.clazzevaluation.ClazzExpertManageInfo"
            useGeneratedKeys="true">
        insert into clazz_expert_manage_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="clazzId != null">
                clazz_id,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="clazzId != null">
                #{clazzId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.vtmer.microteachingquality.model.pojo.clazzevaluation.ClazzExpertManageInfo">
        update clazz_expert_manage_info
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="clazzId != null">
                clazz_id = #{clazzId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.vtmer.microteachingquality.model.pojo.clazzevaluation.ClazzExpertManageInfo">
        update clazz_expert_manage_info
        set user_id  = #{userId,jdbcType=INTEGER},
            clazz_id = #{clazzId,jdbcType=INTEGER},
            status   = #{status,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByUserIdAndClazzId">
        update clazz_expert_manage_info
        set status = #{status}
        where user_id = #{userId}
          and clazz_id = #{clazzId}
    </update>


</mapper>