<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.microteachingquality.mapper.MajorEvaluationUserMapper">
    <select id="selectMajorId" resultType="java.lang.Integer">
        select major_id
        from major_evaluation_user
        where user_id = #{userId}
    </select>
</mapper>