<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.microteachingquality.mapper.MajorMapper">
    <resultMap id="BaseResultMap" type="com.vtmer.microteachingquality.model.pojo.majorevaluation.Major">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="college" jdbcType="VARCHAR" property="college"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , `type`, `name`, college
    </sql>

    <select id="selectAllMajors" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from major
        limit #{startIndex},#{length}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from major
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from major
        where `name` = #{name ,jdbcType=VARCHAR}
    </select>
    <select id="selectCounts" resultType="java.lang.Integer">
        select count(*)
        from major
    </select>
    <select id="selectByMajorName" resultType="com.vtmer.microteachingquality.model.pojo.majorevaluation.Major">
        select id, type, name, college
        from major
        where name = #{majorName}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from major
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.vtmer.microteachingquality.model.pojo.majorevaluation.Major" useGeneratedKeys="true">
        insert into major
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                `type`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="college != null">
                college,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="college != null">
                #{college,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.vtmer.microteachingquality.model.pojo.majorevaluation.Major">
        update major
        <set>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="college != null">
                college = #{college,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.vtmer.microteachingquality.model.pojo.majorevaluation.Major">
        update major
        set `type`  = #{type,jdbcType=VARCHAR},
            `name`  = #{name,jdbcType=VARCHAR},
            college = #{college,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>