<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.microteachingquality.mapper.MajorArchiveFileMapper">
    <resultMap id="BaseResultMap" type="com.vtmer.microteachingquality.model.pojo.majorarchive.MajorArchiveFile">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="major_id" jdbcType="INTEGER" property="majorId"/>
        <result column="batch_name" jdbcType="VARCHAR" property="batchName"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , user_id, major_id, batch_name, file_name, `path`, update_time, create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from major_archive_file
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByBatchNameAndMajorId"
            resultType="com.vtmer.microteachingquality.model.pojo.majorarchive.MajorArchiveFile"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from major_archive_file where major_id = #{majorId} and batch_name = #{batchName}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from major_archive_file
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByUserIdAndPath">
        update major_archive_file
        set is_delete = 1
        where user_id = #{userId}
          and path = #{path};
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.vtmer.microteachingquality.model.pojo.majorarchive.MajorArchiveFile"
            useGeneratedKeys="true">
        insert into major_archive_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="majorId != null">
                major_id,
            </if>
            <if test="batchName != null">
                batch_name,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="path != null">
                `path`,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="majorId != null">
                #{majorId,jdbcType=INTEGER},
            </if>
            <if test="batchName != null">
                #{batchName,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.vtmer.microteachingquality.model.pojo.majorarchive.MajorArchiveFile">
        update major_archive_file
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="majorId != null">
                major_id = #{majorId,jdbcType=INTEGER},
            </if>
            <if test="batchName != null">
                batch_name = #{batchName,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                `path` = #{path,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.vtmer.microteachingquality.model.pojo.majorarchive.MajorArchiveFile">
        update major_archive_file
        set user_id     = #{userId,jdbcType=INTEGER},
            major_id    = #{majorId,jdbcType=INTEGER},
            batch_name  = #{batchName,jdbcType=VARCHAR},
            file_name   = #{fileName,jdbcType=VARCHAR},
            `path`      = #{path,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
