<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.microteachingquality.mapper.MajorArchiveOpinionMapper">
    <resultMap id="BaseResultMap" type="com.vtmer.microteachingquality.model.pojo.majorarchive.MajorArchiveOpinion">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="major_id" jdbcType="INTEGER" property="majorId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="batch_name" jdbcType="VARCHAR" property="batchName"/>
        <result column="opinion" jdbcType="VARCHAR" property="opinion"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , major_id, user_id, batch_name, opinion, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from major_archive_opinion
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByBatchNameAndMajorIdAndUserId"
            resultType="com.vtmer.microteachingquality.model.pojo.majorarchive.MajorArchiveOpinion"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from major_archive_opinion where major_id = #{majorId} and batch_name = #{batchName} and user_id = #{userId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from major_archive_opinion
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.vtmer.microteachingquality.model.pojo.majorarchive.MajorArchiveOpinion"
            useGeneratedKeys="true">
        insert into major_archive_opinion
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="majorId != null">
                major_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="batchName != null">
                batch_name,
            </if>
            <if test="opinion != null">
                opinion,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="majorId != null">
                #{majorId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="batchName != null">
                #{batchName,jdbcType=VARCHAR},
            </if>
            <if test="opinion != null">
                #{opinion,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.vtmer.microteachingquality.model.pojo.majorarchive.MajorArchiveOpinion">
        update major_archive_opinion
        <set>
            <if test="majorId != null">
                major_id = #{majorId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="batchName != null">
                batch_name = #{batchName,jdbcType=VARCHAR},
            </if>
            <if test="opinion != null">
                opinion = #{opinion,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.vtmer.microteachingquality.model.pojo.majorarchive.MajorArchiveOpinion">
        update major_archive_opinion
        set major_id    = #{majorId,jdbcType=INTEGER},
            user_id     = #{userId,jdbcType=INTEGER},
            batch_name  = #{batchName,jdbcType=VARCHAR},
            opinion     = #{opinion,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>