<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.microteachingquality.mapper.ManageInfoMapper">
    <resultMap id="BaseResultMap" type="com.vtmer.microteachingquality.model.pojo.majorevaluation.ManageInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="major_id" jdbcType="INTEGER" property="majorId"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , user_id, major_id, `status`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manage_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUserId" resultType="com.vtmer.microteachingquality.model.pojo.majorevaluation.ManageInfo"
            resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/>from manage_info where user_id = #{userId}
    </select>
    <select id="selectCountsByUserId" resultType="java.lang.Integer">
        select COUNT(id)
        from manage_info
        where user_id = #{userId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from manage_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.vtmer.microteachingquality.model.pojo.majorevaluation.ManageInfo"
            useGeneratedKeys="true">
        insert into manage_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="majorId != null">
                major_id,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="majorId != null">
                #{majorId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.vtmer.microteachingquality.model.pojo.majorevaluation.ManageInfo">
        update manage_info
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="majorId != null">
                major_id = #{majorId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.vtmer.microteachingquality.model.pojo.majorevaluation.ManageInfo">
        update manage_info
        set user_id  = #{userId,jdbcType=INTEGER},
            major_id = #{majorId,jdbcType=INTEGER},
            `status` = #{status,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>