<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.microteachingquality.mapper.ReportMapper">

    <resultMap id="BaseResultMap" type="com.vtmer.microteachingquality.model.pojo.majorevaluation.Report">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="college" jdbcType="VARCHAR" property="college"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectReportDO">
        select r.id,
               r.user_id,
               r.college,
               r.major,
               r.status,
               r.path,
               r.url,
               r.create_time,
               r.update_time
        from report r
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from report
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.vtmer.microteachingquality.model.pojo.majorevaluation.Report">
        insert into report (id, user_id, college,
                            major, status, path,
                            url, create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{college,jdbcType=VARCHAR},
                #{major,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR},
                #{url,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.vtmer.microteachingquality.model.pojo.majorevaluation.Report">
        update report
        set user_id     = #{userId,jdbcType=INTEGER},
            college     = #{college,jdbcType=VARCHAR},
            major       = #{major,jdbcType=VARCHAR},
            status      = #{status,jdbcType=VARCHAR},
            path        = #{path,jdbcType=VARCHAR},
            url         = #{url,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id,
               user_id,
               college,
               major,
               status,
               path,
               url,
               create_time,
               update_time
        from report
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id,
               user_id,
               college,
               major,
               status,
               path,
               url,
               create_time,
               update_time
        from report
    </select>

    <insert id="insertReport" parameterType="com.vtmer.microteachingquality.model.pojo.majorevaluation.Report">
        insert into report (`college`, `major`, `status`)
        values (#{college}, #{major}, #{status})
    </insert>

    <select id="selectByMajor" parameterType="java.lang.String" resultMap="BaseResultMap">
        <include refid="selectReportDO"/>
        where major = #{major}
    </select>

    <update id="updateReportById" parameterType="com.vtmer.microteachingquality.model.pojo.majorevaluation.Report">
        update report
        set user_id = #{userId},
            status  = #{status},
            path    = #{path}
        where id = #{id}
    </update>

    <select id="selectByPath" parameterType="java.lang.String" resultMap="BaseResultMap">
        <include refid="selectReportDO"/>
        where path = #{path}
    </select>

    <update id="updateReportByMajor">
        update report
        set status = #{result}
        where major = #{major}
    </update>

    <delete id="deleteByMajor" parameterType="java.lang.String">
        delete
        from report
        where major = #{major}
    </delete>

</mapper>